<div>
  <div *ngIf="getUser$() | async as user">
    <p>Logged in as {{ user.uid }}</p>
    <ul>
      <li *ngFor="let task of getTasks$() | async" (click)="completeTask(user.uid, task.key)">
         {{task.key}} - {{task.name}} - {{task.description}} - {{task.completed}}
      </li>
    </ul>

    <div>
      <label for="task-name">Task Name</label>
      <input id="task-name" [(ngModel)]="myTaskName">
      <button (click)="saveTask(user.uid)" [disabled]="disableButton">Save</button>
    </div>
  </div>

</div>
